<!DOCTYPE html>
<html>

<head>
    <title>Trang đăng ký</title>
    <!--Made with love by Mutiullah Samim -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/css/login.style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<script type="text/javascript">
    $(function () {
        $('#birthday').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });

        $('#frmRegister').validate({
            rules: {
                username: {
                    required: true,
                    remote: {
                        url: '/register/is-available-username'
                    }
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirm: {
                    required: true,
                    equalTo: $('[name="password"]')
                },
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/register/is-available-email'
                    }
                },
                dob: {
                    required: true,
                },
                card: {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                username: {
                    required: 'Your username is required.',
                    remote: 'Your username has been taken, please take another.'
                },
                password: {
                    required: 'Your password is required.',
                    minlength: 'Your password must have at least 6 characters.'
                },
                confirm: {
                    required: 'Your password does not match.',
                    equalTo: 'Your password does not match.'
                },
                email: {
                    required: 'Please enter a valid email address.',
                    email: 'Please enter a valid email address.',
                    remote: 'Your email has been taken, please take another.'
                },
                dob: {
                    required: 'Valid date of birth is required.',
                },
                card: {
                    required: 'Phone card is required.',
                    minlength: 'Phone card must have at least 13 characters.'
                },
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Đăng ký</h3>
                </div>
                <div class="card-body">
                    <form method="POST" id="frmRegister" action="register" novalidate>
                        <div class="form-group">

                            <input name="username" type="text" class="form-control" placeholder="Tên đăng nhập">
                        </div>
                        <div class="form-group">

                            <input name="password" type="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">

                            <input name="confirm" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="form-group">

                            <input name="email" type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input id="birthday" name="dob" type="text" class="form-control" placeholder="Ngày sinh">
                        </div>
                        <div class="form-group">
                            <input id="card" name="card" type="text" class="form-control"
                                placeholder="Nhập card điện thoại">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Đăng ký" class="btn float-right login_btn">
                        </div>

                </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>


</body>

</html>