<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="full-container"></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <form class="form-control">
                <label>Category name</label>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>